<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ur.moralmachine_altmann_ganz_schnell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".GameActivity" />
        <activity
            android:name=".infoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".resultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Scenario_02" />
        <activity android:name=".Scenario_03" />
        <activity android:name=".Scenario_04" />
        <activity android:name=".Scenario_05" />
        <activity android:name=".Scenario_06" />
        <activity android:name=".Scenario_07" />
        <activity android:name=".Scenario_08" />
        <activity android:name=".Scenario_09" />
        <activity android:name=".Scenario_10" />
        <activity android:name=".Scenario_11" />
        <activity android:name=".Scenario_12" />
        <activity android:name=".Scenario_13" />
        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>