<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ur.moralmachine_altmann_ganz_schnell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"

        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".infoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".resultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Scenario_02"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_03"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_04"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_05"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_06"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_07"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_08"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_09"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scenario_13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>